# Relevant requirements from buhmm
Cython
iterutils
numpy
six

# Additional requirements needed for vbench
ghp-import
sphinx
sqlalchemy
#numpy
scipy
pandas
matplotlib
seaborn

# Needed to build docs.
sphinx-rtd-theme
ipython
sphinxcontrib-napoleon
